/*Variables de color y fuentes*/
/*Mixin de media queries*/
/* @mixin hover{
    @media (hover:hover){@content}
} */
/*Font: Jersey TITLES*/
@import url("https://fonts.googleapis.com/css2?family=Jersey+25&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/*Font: Poppins TEXT*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  width: 100%;
  height: 100%;
  background-color: #DAD7CD;
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 1;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}
header .menu__icon {
  display: none;
  height: 20px;
  background-color: #344E41;
  padding: 1rem;
  margin: 1rem;
}
header .menu__icon img {
  margin-bottom: 1rem;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  header .menu__icon {
    display: block;
  }
}
header .hamburguer__menu {
  display: none;
  margin: 1rem;
}
header .hamburguer__menu .responsive__menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 0;
  background-color: #344E41;
  height: 100vh;
  padding: 0;
  transition: all 0.25s ease;
}
header .hamburguer__menu .responsive__menu > a {
  text-decoration: none;
  color: #DAD7CD;
  transition: all 0.25s ease;
}
header .hamburguer__menu .responsive__menu > a:hover {
  transform: scale(1.03);
}
header .show {
  display: block;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  header .normal__menu {
    display: none;
  }
}
header .normal__menu nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 0;
  background-color: #344E41;
  height: 30px;
  border-radius: 5px;
  transition: all 0.25s ease;
}
header .normal__menu nav > a {
  text-decoration: none;
  color: #DAD7CD;
  transition: all 0.25s ease;
}
header .normal__menu nav > a:hover {
  transform: scale(1.03);
}

main .titles {
  text-align: center;
  padding: 4rem;
}
main .titles p {
  margin: 0;
  color: #1B4332;
  font-family: "Jersey 25", sans-serif;
  font-size: 2rem;
  font-weight: 600;
}
main .home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
  text-align: center;
}
main .home p#name {
  font-size: 1.8rem;
  font-weight: 600;
  margin: 1rem 0 0.5rem 0;
  font-family: "Jersey 25", sans-serif;
  color: #1B4332;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  main .home p#name {
    font-size: 3rem;
  }
}
main .home p#position {
  margin: 0;
  font-family: "Poppins", sans-serif;
  color: #588157;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  main .home p#position {
    font-size: 1.5rem;
  }
}
main .home .fotoPerfil {
  width: 13vw;
  border: 2px solid #344E41;
  border-radius: 50%;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  main .home .fotoPerfil {
    width: 50vw;
  }
}
main .home .container__contacts {
  margin: 2rem;
  display: flex;
  align-items: center;
}
main .home .container__contacts > .contacts {
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.25s ease;
}
main .home .container__contacts > .contacts > img {
  width: 2rem;
}
main .home .container__contacts > .contacts:hover {
  transform: scale(1.2);
}
main .home .container__CV {
  margin-bottom: 1rem;
}
main .home .container__CV > .linkCV {
  margin-bottom: 1rem;
  padding: 1rem;
  background-color: #3A5A40;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  word-spacing: 0.4rem;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #DAD7CD;
  font-weight: 600;
  transition: all 0.25s ease;
}
main .home .container__CV > .linkCV:hover {
  transform: scale(1.1);
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  main .home .container__CV > .linkCV {
    width: 150px;
    font-size: 1.5rem;
  }
}
main .home .container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
main .home .container .mouse {
  width: 40px;
  height: 50px;
  border: 3px solid #588157;
  border-radius: 60px;
  position: relative;
}
main .home .container .mouse:before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #588157;
  border-radius: 50%;
  opacity: 1;
  animation: wheel 1.5s infinite;
  -webkit-animation: wheel 1.5s infinite;
}
@keyframes wheel {
  to {
    opacity: 0;
    top: 30px;
  }
}
main .home .container > p {
  font-family: "Poppins", sans-serif;
  color: #588157;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  main .home .container > p {
    font-size: 1.5rem;
  }
}
main .sobreMi {
  padding-bottom: 10rem;
}
main .sobreMi .container__about {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20rem;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  main .sobreMi .container__about {
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  main .sobreMi .container__about {
    flex-direction: column;
    width: 70%;
    margin: 0 auto;
  }
}
main .sobreMi .container__about:after {
  content: "";
  display: block;
  position: absolute;
  top: 72rem;
  left: 483px;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 5px solid transparent;
  border-right: 45px solid #344E41;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  main .sobreMi .container__about:after {
    left: 350px;
    top: 67rem;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-bottom: 45px solid #344E41;
  }
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  main .sobreMi .container__about:after {
    left: 150px;
    top: 73.5rem;
    border-right: 20px solid transparent;
    border-left: 20px solid transparent;
    border-bottom: 45px solid #344E41;
  }
}
main .sobreMi .container__about > img {
  width: 10rem;
  padding-right: 3rem;
  border-radius: 50%;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  main .sobreMi .container__about > img {
    margin-bottom: 3rem;
  }
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  main .sobreMi .container__about > img {
    margin-bottom: 3rem;
  }
}
main .sobreMi .container__about .about__text {
  text-align: center;
  padding: 2rem;
  background: #344E41;
  border-radius: 20px;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  main .sobreMi .container__about .about__text {
    font-size: 1.5rem;
  }
}
main .sobreMi .container__about .about__text #about__name {
  margin: 0 0 1.5rem 0;
  font-family: "Jersey 25", sans-serif;
  font-size: 2.3rem;
  color: #A3B18A;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  main .sobreMi .container__about .about__text #about__name {
    font-size: 2.8rem;
  }
}
main .sobreMi .container__about .about__text #about__txt {
  font-family: "Poppins", sans-serif;
  color: #DAD7CD;
  font-weight: 600;
}
main .sobreMi .container__about .about__text #about__txt > b {
  color: #A3B18A;
}
main .projects {
  margin: 0 auto;
  padding: 0 10rem 10rem 10rem;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  main .projects {
    padding: 0 3rem 10rem 3rem;
  }
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  main .projects {
    padding: 0 0 10rem 0;
  }
}
main .projects .container__proyects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  main .projects .container__proyects {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  main .projects .container__proyects {
    grid-template-columns: 1fr;
  }
}
main .projects .container__proyects .cards {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  transition: all 0.25s ease;
  margin-bottom: 2rem;
}
main .projects .container__proyects .cards:hover {
  transform: scale(1.05);
  opacity: 1;
}
main .projects .container__proyects .cards .cards__content {
  text-align: center;
  width: 80%;
}
main .projects .container__proyects .cards .cards__content > img {
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 5;
  border: 1px solid #344E41;
  border-radius: 1.25rem;
}
main .projects .container__proyects .cards .cards__content .cards__data {
  background-color: #344E41;
  padding: 1.5rem 2rem;
  border-radius: 1rem;
  text-align: center;
  position: relative;
  z-index: 10;
  height: 100%;
}
main .projects .container__proyects .cards .cards__content .cards__data > h3 {
  font-family: "Jersey 25", sans-serif;
  font-size: 2rem;
  margin: 0;
  color: #A3B18A;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  main .projects .container__proyects .cards .cards__content .cards__data > h3 {
    font-size: 3rem;
  }
}
main .projects .container__proyects .cards .cards__content .cards__data > p {
  font-family: "Poppins", sans-serif;
  margin: 2rem;
  color: #DAD7CD;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  main .projects .container__proyects .cards .cards__content .cards__data > p {
    font-size: 1.5rem;
  }
}
main .projects .container__proyects .cards .cards__content .cards__data .cards__techContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  main .projects .container__proyects .cards .cards__content .cards__data .cards__techContainer {
    grid-template-columns: 1fr;
  }
}
main .projects .container__proyects .cards .cards__content .cards__data .cards__techContainer .cards__tech {
  border: 3px solid;
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: default;
  background: #DAD7CD;
  -webkit-backdrop-filter: blur(60px);
  backdrop-filter: blur(60px);
  border: 1.5px solid #DAD7CD;
  transition: all 0.25s ease;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  main .projects .container__proyects .cards .cards__content .cards__data .cards__techContainer .cards__tech {
    margin: 1rem 0.5rem 0 0.5rem;
  }
}
main .projects .container__proyects .cards .cards__content .cards__data .cards__techContainer .cards__tech:hover {
  transform: scale(1.07);
}
main .projects .container__proyects .cards .cards__content .cards__data .cards__techContainer .cards__tech > img {
  width: 30px;
  margin: 0.5rem;
}
main .projects .container__proyects .cards .cards__content .cards__data .cards__techContainer .cards__tech > p {
  font-family: "Poppins", sans-serif;
  margin: 0 0.8rem 0 0;
  color: #1B4332;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  main .projects .container__proyects .cards .cards__content .cards__data .cards__techContainer .cards__tech > p {
    font-size: 1.5rem;
  }
}
main .projects .container__proyects .cards .cards__content .cards__data .cards__button {
  display: inline-block;
  background-color: #3A5A40;
  padding: 0.75rem 1.2rem;
  border-radius: 1rem;
  text-decoration: none;
  transition: all 0.25s ease;
}
main .projects .container__proyects .cards .cards__content .cards__data .cards__button:hover {
  transform: scale(1.15);
}
main .projects .container__proyects .cards .cards__content .cards__data .cards__button > img {
  width: 25px;
}
main .exp {
  padding-bottom: 10rem;
}
main .exp .container__exp {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 0 20rem;
  text-align: center;
  color: #344E41;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  main .exp .container__exp {
    margin: 0 10rem;
  }
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  main .exp .container__exp {
    margin: 0 auto;
    padding: 3rem;
  }
}
main .exp .container__exp .curse1, main .exp .container__exp .curse2, main .exp .container__exp .work1, main .exp .container__exp .work2 {
  margin-bottom: 2rem;
}
main .exp .container__exp .curse1 > img, main .exp .container__exp .curse2 > img, main .exp .container__exp .work1 > img, main .exp .container__exp .work2 > img {
  width: 40px;
  margin: 1rem;
}
main .exp .container__exp .curse1, main .exp .container__exp .curse2 {
  margin-right: 3rem;
}
main .exp .container__exp .work1 {
  grid-column: 2;
  grid-row: 1;
}
main .exp .container__exp .container__CV {
  grid-column: 1/3;
}
main .exp .container__exp .container__CV .linkCV {
  padding: 1rem;
  background-color: #3A5A40;
  border-radius: 30px;
  word-spacing: 0.4rem;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  color: #DAD7CD;
  font-weight: 600;
}
main .exp .container__exp #puesto {
  font-family: "Jersey 25", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 0;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  main .exp .container__exp #puesto {
    font-size: 2rem;
  }
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  main .exp .container__exp #puesto {
    font-size: 1.2rem;
  }
}
main .exp .container__exp #lugar, main .exp .container__exp #duracion {
  font-family: "Poppins", sans-serif;
  margin-top: 1rem;
  font-weight: 500;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  main .exp .container__exp #lugar, main .exp .container__exp #duracion {
    font-size: 1.3rem;
  }
}
main .sk {
  padding-bottom: 10rem;
}
main .sk .skills__titles {
  text-align: center;
  padding: 2rem 0 0 0;
}
main .sk .skills__titles p {
  margin: 0;
  color: #588157;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
}
main .sk .container__skills {
  display: flex;
  justify-content: space-evenly;
  margin: 2.2rem;
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  main .sk .container__skills {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  main .sk .container__skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  main .sk .container__skills #jQuery {
    grid-column: 1/3;
  }
}
main .sk .container__skills .skill-card {
  background-color: transparent;
  width: 190px;
  height: 254px;
  perspective: 1000px;
  font-family: "Poppins", sans-serif;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  main .sk .container__skills .skill-card {
    margin: 1.5rem;
  }
}
@media screen and (min-width: 300px) and (max-width: 768px) {
  main .sk .container__skills .skill-card {
    margin: 1.5rem;
  }
}
main .sk .container__skills .skill-card:hover .skill-card-inner {
  transform: rotateY(180deg);
}
main .sk .container__skills .skill-card .skill-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
main .sk .container__skills .skill-card .skill-card-front {
  background: linear-gradient(120deg, #344E41 60%, #3A5A40 88%, #588157 40%, #A3B18A 48%);
  color: #A3B18A;
}
main .sk .container__skills .skill-card .skill-card-front img {
  width: 70%;
  margin: 0 auto;
}
main .sk .container__skills .skill-card .skill-card-front .title__front {
  font-size: 1.5em;
  font-weight: 900;
  display: flex;
  justify-content: center;
  margin: 0;
}
main .sk .container__skills .skill-card .skill-card-back {
  background: linear-gradient(120deg, #A3B18A 30%, #588157 88%, #3A5A40 40%, #344E41 78%);
  color: #1B4332;
  transform: rotateY(180deg);
  justify-content: center;
}
main .sk .container__skills .skill-card .skill-card-front, main .sk .container__skills .skill-card .skill-card-back {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 1rem;
}
main .sk .container__skills .skill-card .skills {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /*Avanzado*/
  /*Intermedio*/
  /*Principiante*/
  /*Aprendiz*/
}
main .sk .container__skills .skill-card .skills svg {
  width: 150px;
  height: 150px;
}
main .sk .container__skills .skill-card .skills circle {
  fill: none;
  stroke: #344E41;
  stroke-width: 20px;
  stroke-dasharray: 100 100;
  transform: rotate(-90deg);
  transform-origin: 50%;
}
main .sk .container__skills .skill-card .skills .skills__circle {
  stroke: #DAD7CD;
}
main .sk .container__skills .skill-card .skills .advanced {
  stroke-dasharray: 75 100;
}
main .sk .container__skills .skill-card .skills .intermediate {
  stroke-dasharray: 50 100;
}
main .sk .container__skills .skill-card .skills .beginner {
  stroke-dasharray: 25 100;
}
main .sk .container__skills .skill-card .skills .novice {
  stroke-dasharray: 0 100;
}
main .sk .container__skills .skill-card .skills span {
  position: absolute;
  top: 0%;
  left: 0%;
  bottom: 0%;
  right: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1.2rem;
  color: #344E41;
}
footer > p {
  padding: 1.5rem;
}/*# sourceMappingURL=main.css.map */