/*Variables de color y fuentes*/
$titlesFont: "Jersey 25", sans-serif;
$textFont:"Poppins", sans-serif;
$titlesColor: #1B4332;
$titlesInside: #A3B18A;
$primaryColor: #DAD7CD;
$secondaryColor: #344E41;
$textColor: #588157;
$buttonColor: #3A5A40;
$otherTextColor: #DAD7CD;

/*Jersey TITLES*/
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/*Poppins TEXT*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


html{
    width: 100%;
    height: 100%;
    background-color: $primaryColor;
}

body{
    margin: 0;
}


header{
    font-family: $textFont;
    font-size: 1.5rem;
    font-weight: 600;
    nav{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 1rem 0;
        border-bottom: 2px solid $secondaryColor;
        border-radius: 30px;

        >a{
            text-decoration: none;
            color: $titlesColor;
            transition: all .25s ease;

            &:hover{
                transform: scale(1.03);
            }
        }
    }
    }

main{

    .titles{
        text-align: center;
        padding: 4rem;

        p{
            margin: 0;
            color: $titlesColor;
            font-family: $titlesFont;
            font-size: 2rem;
            font-weight: 600;
        }
    }
    .home{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10rem;

        p#name{
            font-size: 1.8rem;
            margin: 1rem 0 0.5rem 0;
            font-family: $titlesFont;
            color: $titlesColor;
        }

        p#position{
            margin: 0;
            font-family:$textFont;
            color: $textColor;
        }

        .fotoPerfil{
            width: 13vw;
            border: 2px solid $secondaryColor;
            border-radius: 50%;
        }

        .container__contacts{
            margin: 2rem;
            display: flex;
            align-items: center;
            >.contacts{
                
                width: 90px;
                display: flex;
                justify-content: center;
                align-items: center;

                >img{
                    width: 2rem;
                }
            }
        }

        .container__CV{
            margin-bottom: 1rem;
            >.linkCV{
                margin-bottom: 1rem;
                padding: 1rem;
                background-color: $buttonColor;
                width: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 30px;
                word-spacing: 0.4rem;
                text-decoration: none;
                font-family: $textFont;
                color:$otherTextColor;
                font-weight: 600;
            }
        }


        .container {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .mouse {
                width: 40px;
                height: 50px;
                border: 3px solid $textColor;
                border-radius: 60px;
                position: relative;
                &:before {
                    content: '';
                    width: 12px;
                    height: 12px;
                    position: absolute;
                    top: 10px;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: $textColor;
                    border-radius: 50%;
                    opacity: 1;
                    animation: wheel 1.5s infinite;
                    -webkit-animation: wheel 1.5s infinite;
                }
            }
            
            @keyframes wheel {
                to {
                    opacity: 0;
                    top: 30px;
                }
            }
            
            @-webkit-keyframes wheel {
                to {
                    opacity: 0;
                    top: 60px;
                }
            }

            >p{
                font-family: $textFont;
                color: $textColor;
            }
        }
        
    }
    .sobreMi{       
        padding-bottom: 10rem;

        .container__about{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 20rem;

            &:after{
                content: "";
                display: block;
                position: absolute;
                top: 78rem;
                left: 483px;
                width: 0;
                height: 0;
                border-top: 20px solid transparent;
                border-bottom: 5px solid transparent;

                border-right: 45px solid $secondaryColor;
            }

            >img{
                width: 10rem;
                padding-right: 3rem;
                border-radius: 50%;
            }

            .about__text{
                text-align: center;
                padding: 2rem;
                background: $secondaryColor;
                border-radius: 20px;

                #about__name{
                    margin: 0 0 1.5rem 0;
                    font-family: $titlesFont;
                    font-size: 2.3rem;
                    color: $titlesInside;
                }

                #about__txt{
                    font-family: $textFont;
                    color: $otherTextColor;
                    font-weight: 600;

                    >b{
                        color: $titlesInside;
                    }
                }
        }
    }
    }
    .projects{
        margin: 0 auto;
        padding: 0 10rem 10rem 10rem;
        
        .container__proyects{
            display: grid;
            grid-template-columns: repeat(2,1fr);
        
            .cards{
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0.9;
                transition: all 0.25s ease;
                margin-bottom: 2rem;

                &:hover{
                    transform: scale(1.05);
                    opacity: 1;
                }
                
                .cards__content{
                    text-align: center;
                    width: 80%;
        
                    >img{
                        width: 100%;
                        margin: 0 auto;
                        position: relative;
                        z-index: 5;
                        border: 1px solid $secondaryColor;
                        border-radius: 1.25rem;
                    }
        
                    .cards__data{
                        background-color: $secondaryColor;
                        padding: 1.5rem 2rem;
                        border-radius: 1rem;
                        text-align: center;
                        position: relative;
                        z-index: 10;
                        height: 100%;
                        
                        >h3{
                            font-family: $titlesFont;
                            font-size: 2rem;
                            margin: 0;
                            color: $titlesInside;
                        }
                        >p{
                            font-family: $textFont;
                            margin: 2rem;
                            color: $otherTextColor;
                        }

                        .cards__techContainer{
                            display: grid;
                            grid-template-columns: repeat(3,1fr);
                            .cards__tech{
                                border: 3px solid;
                                margin: 1rem;
                                display: flex;
                                justify-content: center;
                                align-items: center;
                                border-radius: 8px;
                                cursor:default;
                                background: $primaryColor;
                                -webkit-backdrop-filter: blur(60px);
                                backdrop-filter: blur(60px);
                                border: 1.5px solid $primaryColor;
                                transition: all 0.25s ease;

                                &:hover{
                                    transform: scale(1.07);
                                }

                                >img{
                                    width: 30px;
                                    margin: .5rem;
                                }
                                >p{
                                    font-family: $textFont;
                                    margin: 0 .8rem 0 0;
                                    color: $titlesColor;
                                }
                            }
                        }
        
                        .cards__button{
                            display: inline-block;
                            background-color: $buttonColor;
                            padding: .75rem 1.2rem;
                            border-radius: 1rem;
                            text-decoration: none;
                            transition: all .25s ease;

                            &:hover{
                                transform: scale(1.15);
                            }

                            >img{
                                width: 25px;
                            }
                        }
                    }
                }
            }
        }
    }
    .exp{
        padding-bottom: 10rem;
        .container__exp{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            grid-template-rows: repeat(2,1fr);
            margin: 0 20rem;
            text-align: center;
            color:$secondaryColor;

            .curse1,.curse2,.work1,.work2{
                margin-bottom: 2rem;
                >img{
                    width: 40px;
                    margin: 1rem;
                }
            }
            .curse1,.curse2{
                margin-right: 3rem;
            }
            .work1{
                grid-column: 2;
                grid-row: 1;
            }
            .container__CV{
                grid-column: 1/3;

                .linkCV{
                    padding: 1rem;
                    background-color: $buttonColor;
                    border-radius: 30px;
                    word-spacing: 0.4rem;
                    text-decoration: none;
                    font-family: $textFont;
                    color:$otherTextColor;
                    font-weight: 600;
                }
            }
            #puesto{
                font-family: $titlesFont;
                font-weight: 600;
                font-size: 1.5rem;
                margin: 0;
            }
            #lugar,#duracion{
                font-family: $textFont;
                margin-top: 1rem;
                font-weight: 500;
            }

        }

    }
    .sk{
        padding-bottom: 10rem;

        .skills__titles{
            text-align: center;
            padding: 2rem 0 0 0;

        p{
            margin: 0;
            color: $textColor;
            font-family: $textFont;
            font-size: 1.5rem;
            font-weight: 600;
        }
        }

        .container__skills{
            display: flex;
            justify-content: space-evenly;
            margin:2.2rem;
            .skill-card {
                background-color: transparent;
                width: 190px;
                height: 254px;
                perspective: 1000px;
                font-family: $textFont;
            
                &:hover .skill-card-inner {
                    transform: rotateY(180deg);
                }
            
                .skill-card-inner {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    transition: transform 0.8s;
                    transform-style: preserve-3d;
                }
            
                .skill-card-front {
                    background: linear-gradient(120deg, $secondaryColor 60%, #3A5A40 88%,
                    #588157 40%, #A3B18A 48%);
                    color: $titlesInside;

                    img{
                        width: 70%;
                        margin: 0 auto;
                    }
            
                    .title__front {
                        font-size: 1.5em;
                        font-weight: 900;
                        display: flex;
                        justify-content: center;
                        margin: 0;
                    }
                }
            
                .skill-card-back {
                    background: linear-gradient(120deg, #A3B18A 30%, #588157 88%,
                    #3A5A40 40%, #344E41 78%);
                    color: $titlesColor;
                    transform: rotateY(180deg);
                    justify-content: center;
                }
            
                .skill-card-front, .skill-card-back {
                    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
                    position: absolute;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    height: 100%;
                    -webkit-backface-visibility: hidden;
                    backface-visibility: hidden;
                    border-radius: 1rem;
                }
            
                .skills{
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                
                    svg{
                        width: 150px;
                        height: 150px;
                    }
                
                    circle{
                        fill: none;
                        stroke: $secondaryColor;
                        stroke-width: 20px;
                        stroke-dasharray: 100 100;
                        transform: rotate(-90deg);
                        transform-origin: 50%;
                    }
                    
                    .skills__circle{
                        stroke: $primaryColor;
                    }
                    /*Avanzado*/
                    .advanced{
                        stroke-dasharray: 75 100;
                    }
                    /*Intermedio*/
                    .intermediate{
                        stroke-dasharray: 50 100;
                    }
                    /*Principiante*/
                    .beginner{
                        stroke-dasharray: 25 100;
                    }
                    /*Aprendiz*/
                    .novice{
                        stroke-dasharray: 0 100;
                    }

                    span{
                        position: absolute;
                        top: 0%;
                        left: 0%;
                        bottom: 0%;
                        right: 0%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }
                }
            }
        }
    }
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: $textFont;
    font-weight: 600;
    font-size: 1.2rem;
    color: $secondaryColor;

    >p{
        padding: 1.5rem;
    }
}