@font-face {
    font-family: 'mainfont';
    src: url(../assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

html{
    background-color: #141414;
    font-family: 'mainfont';
    font-weight: bold;
}

.contenedor{
    width: 500px;
    height: 690px;
    background-color: #1f1f1f;
    margin: 0 auto;
    border-radius: 15px;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #fcfcfc;
}

.card #location{
    color: #c4f82a;
}

.card #occupation{
    margin-top: 30px;
    font-weight: normal;

}

.card img{
    display: flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    margin-bottom: 20px;
}

.card p{
    margin: 0 0 10px 0;
}

ul{
    padding: 0;
}

.redes li{
    display: block;
    margin: 20px 100px 30px 100px;
    width: 300px;
    height: 40px;
    background-color: #333333;
    text-align: center;
    padding-top: 20px;
    border-radius: 15px;
}

.redes li a{
    display: block;
    color: white;
    text-decoration: none;
    height: 30px;
}

.redes li:hover,.redes li a:hover{
    background-color: #c4f82a;
    cursor: pointer;
    color: #141414;
}

footer{
    margin-top: 15px;
}

.attribution { 
    font-size: 15px; 
    text-align: center;
    color: #fcfcfc; 
}
.attribution a { 
    color: hsla(92, 72%, 56%, 0.748); 
}