@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;800&display=swap");

html{
    width: 100%;
    height: 100%;
    color: #fff;
    font-size: 1rem;
	background: radial-gradient(
		circle,
		rgba(226, 237, 145, 0.689) 0%,
		rgba(148, 187, 233, 1) 100%
	);
    font-family: "Poppins", serif;
}

header{
	width: 100%;
	display: flex;
	justify-content: space-around;
	border-radius: 1rem;
	background: rgba(249, 247, 247, 0.25);
	backdrop-filter: blur(4px);
	-webkit-backdrop-filter: blur(4px);
	margin: 0 3rem 0 3rem;
	align-items: center;
}

.fijo{
	position: static;
}

.scroll{
	position: fixed;
	z-index: 1;
}

header h1{
	text-align: center;
}
header p{
    text-align: center;
}

header nav a{
	display: inline-block;
	text-align: center;
	text-decoration: none;
	align-items: center;
	color: #000000;
	width: 100%;
	border-radius: 1rem;
}

#twitch:hover{
	background-color: rgba(199, 122, 243, 0.689);
	color: #fff;
	font-weight: 700;
	width: 100%;
	transition: all 0.25s ease-out;
}

#insta:hover{
	background: radial-gradient(
		circle,
		rgb(254, 1, 241) 0%,
		rgb(246, 243, 73) 100%,
		rgb(246, 73, 194) 100%
	);
	color: #fff;
	font-weight: 700;
	width: 100%;
	transition: all 0.25s ease-out;
}

#tiktok:hover{
	background: radial-gradient(
		circle,
		rgb(255, 0, 0) 0%,
		rgb(0, 0, 0) 100%
	);
	color: #fff;
	font-weight: 700;
	width: 100%;
	transition: all 0.25s ease-out;
}

body {
	display: flex;
	flex-flow: column;
	align-items: center;
}

section{
	width: 90vw;
}

.infoMes{
	display: flex;
	justify-content: center;
	align-items: center;
}

.infoMes p {
	font-size: 2rem;
	letter-spacing: .5rem;
}

#month{
	margin-right: 3.5rem;
}

.calendar, #dates{
	display: grid;
	grid-template-columns: repeat(7,1fr);
	flex-wrap: wrap;
	list-style: none;
}

.week{
	display: flex;
	width: 10rem;
    height: 3rem;
	margin: 0 1rem 1rem 0;
	border-radius: 0.2rem;
	padding: 0.5rem;
	font-weight: 300;
    font-size: 1.3rem;
	box-sizing: border-box;
	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(4px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	justify-content:center;
    }


.calendarDates #dates{
	display: flex;
	width: 10rem;
    height: 10rem;
	margin: 0 1rem 1rem 0;
	flex-flow: column;
	border-radius: 0.2rem;
	padding: 0.5rem;
	font-weight: 300;
    font-size: 3rem;
	box-sizing: border-box;
	background: rgba(255, 255, 255, 0.25);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(4px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	justify-content:center;
	align-items: center;
}

.modal1{
	text-align: center;
    width: 30vw;
    height: 40em;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: absolute; /*static por defecto*/
    top: 15%;
	background: rgba(145, 91, 146, 0.25);
	backdrop-filter: blur(4px);
    /*bottom: 0;*/
    right: 0;
    left: 0;
    margin: 0 auto;
    box-shadow: 5px 5px 5px 5px #333;
}

.modal1 img{
	width: 30vw;
	margin: 0 auto;
}

.modal1 h2{
	color: rgba(149, 66, 238, 0.631);
	border-radius: 1rem;
}

.modal1 h2 a{
	text-decoration: none;
}

#close{
	position: absolute;
	right: 0.50em;
    top: 1em;
	cursor: pointer;
	border-radius: 1rem;
	text-align: center;
}

.closed{
	display: none;
}

.opened{
	opacity: 1;
}

.today:hover{
	color: aqua;
	cursor: pointer;
	transition: all 0.25s ease-in;
}

.diaFuturo:hover{
	color: blue;
	cursor: pointer;
	transition: all 0.25s ease-in;
}

.diaPasado{
	opacity: .3;
	cursor: no-drop;
}




