html{
    width: 100%;
    height: 100%;
    background-color: $primaryColor;
    scroll-behavior: smooth;
}

body{
    margin: 0;
}


header{
    position: sticky;
    top: 0;
    z-index: 1;
    font-family: $textFont;
    font-size: 1.5rem;
    font-weight: 600;
    
    .menu__icon{
        display: none;
        height: 20px;
        background-color: $secondaryColor;
        padding: 1rem;
        margin: 1rem;
        img{
            margin-bottom: 1rem;
        }
        @include celulares{
            display: block;
        }
    }

    .hamburguer__menu{
        display: none;
        margin: 1rem;

        .responsive__menu{
            @include flexEvenly();
            flex-direction: column;
            padding: 1rem 0;
            background-color: $secondaryColor;
            height: 100vh;
            padding: 0;
            transition: all .25s ease;
            >a{
                text-decoration: none;
                color: $primaryColor;
                transition: all .25s ease;
        
                &:hover{
                    transform: scale(1.03);
                }
            }
        }
    }

    .show{
        display: block;
    }

    .normal__menu{
        @include celulares{
            display: none;
        }
        nav{
            @include flexEvenly();
            padding: 1rem 0;
            background-color: $secondaryColor;
            height: 30px;
            border-radius: 0 0 20px 20px;
            transition: all .25s ease;

        >a{
            text-decoration: none;
            color: $primaryColor;
            transition: all .25s ease;

            &:hover{
                transform: scale(1.03);
            }
        }
        }
    }
    }
