main{

    .titles{
        text-align: center;
        padding: 4rem;

        p{
            margin: 0;
            color: $titlesColor;
            font-family: $titlesFont;
            font-size: 2rem;
            font-weight: 600;
        }
    }
    .home{
        @include flex();
        flex-direction: column;
        padding: 5rem;
        text-align: center;

        p#name{
            font-size: 1.8rem;
            font-weight: 600;
            margin: 1rem 0 0.5rem 0;
            font-family: $titlesFont;
            color: $titlesColor;
            @include tablets{
                font-size: 3rem;
            }
            @include celulares{
                
            }
        }

        p#position{
            margin: 0;
            font-family:$textFont;
            color: $textColor;
            @include tablets{
                font-size: 1.5rem;
            }
        }

        .fotoPerfil{
            width: 13vw;
            border: 2px solid $secondaryColor;
            border-radius: 50%;
            @include celulares{
                width: 50vw;
            }
        }

        .container__contacts{
            margin: 2rem;
            display: flex;
            align-items: center;
            >.contacts{
                
                width: 90px;
                @include flex();
                transition: all .25s ease;

                >img{
                    width: 2rem;
                }

                &:hover{
                    transform: scale(1.2);
                }
            }
        }

        .container__CV{
            margin-bottom: 1rem;
            >.linkCV{
                margin-bottom: 1rem;
                padding: 1rem;
                background-color: $buttonColor;
                width: 100px;
                @include flex();
                border-radius: 30px;
                word-spacing: 0.4rem;
                text-decoration: none;
                font-family: $textFont;
                color:$otherTextColor;
                font-weight: 600;
                transition: all .25s ease;

                &:hover{
                    transform: scale(1.1);
                }

                @include tablets{
                    width: 150px;
                    font-size: 1.5rem;
                }
            }
        }


        .container {
            width: 100%;
            height: 100%;
            @include flex();
            flex-direction: column;

            .mouse {
                width: 40px;
                height: 50px;
                border: 3px solid $textColor;
                border-radius: 60px;
                position: relative;
                &:before {
                    content: '';
                    width: 12px;
                    height: 12px;
                    position: absolute;
                    top: 10px;
                    left: 50%;
                    transform: translateX(-50%);
                    background-color: $textColor;
                    border-radius: 50%;
                    opacity: 1;
                    animation: wheel 1.5s infinite;
                    -webkit-animation: wheel 1.5s infinite;
                }
            }
            
            @keyframes wheel {
                to {
                    opacity: 0;
                    top: 30px;
                }
            }
            
            @-webkit-keyframes wheel {
                to {
                    opacity: 0;
                    top: 60px;
                }
            }

            >p{
                font-family: $textFont;
                color: $textColor;
                @include tablets{
                    font-size: 1.5rem;
                }
            }
        }
        
    }
    .sobreMi{       
        padding-bottom: 10rem;

        .container__about{
            @include flex();
            margin: 0 20rem;
            @include tablets{
                flex-direction: column;
                width: 70%;
                margin: 0 auto;
            }
            @include celulares{
                flex-direction: column;
                width: 70%;
                margin: 0 auto;
            }

            &:after{
                content: "";
                display: block;
                position: absolute;
                top: 72rem;
                left: 483px;
                width: 0;
                height: 0;
                border-top: 20px solid transparent;
                border-bottom: 5px solid transparent;
                border-right: 45px solid $secondaryColor;

                @include tablets{
                    left: 350px;
                    top: 67rem;
                    border-right: 20px solid transparent;
                    border-left: 20px solid transparent;
                    border-bottom: 45px solid $secondaryColor;
                }
                @include celulares{
                    left: 150px;
                    top: 73.5rem;
                    border-right: 20px solid transparent;
                    border-left: 20px solid transparent;
                    border-bottom: 45px solid $secondaryColor;
                }
            }

            >img{
                width: 10rem;
                padding-right: 3rem;
                border-radius: 50%;
                @include tablets{
                    margin-bottom: 3rem;
                }
                @include celulares{
                    margin-bottom: 3rem;
                }
            }

            .about__text{
                text-align: center;
                padding: 2rem;
                background: $secondaryColor;
                border-radius: 20px;
                @include tablets{
                    font-size: 1.5rem;
                }

                #about__name{
                    margin: 0 0 1.5rem 0;
                    font-family: $titlesFont;
                    font-size: 2.3rem;
                    color: $titlesInside;
                    @include tablets{
                        font-size: 2.8rem;
                        
                    }
                }

                #about__txt{
                    font-family: $textFont;
                    color: $otherTextColor;
                    font-weight: 600;

                    >b{
                        color: $titlesInside;
                    }
                }
        }
    }
    }
    .projects{
        margin: 0 auto;
        padding: 0 10rem 10rem 10rem;
        @include tablets{
            padding: 0 3rem 10rem 3rem;
        }
        @include celulares{
            padding: 0 0 10rem 0;
        }
        
        .container__proyects{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            @include tablets{
                grid-template-columns: 1fr;
            }
            @include celulares{
                grid-template-columns: 1fr;
            }
        
            .card{
                width: 85%;
                height: 800px;
                opacity: 0.9;
                transition: all 0.25s ease;
                margin-bottom: 2rem;

                &:hover{
                    transform: scale(1.05);
                    opacity: 1;
                }
                
                .card-img-top{
                    width: 100%;
                    margin: 0 auto;
                    position: relative;
                    z-index: 5;
                    border: 1px solid $secondaryColor;
                    border-radius: 1.25rem;
                }
                
                .card-body{
                    text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background-color: $secondaryColor;
                    padding: 1.5rem 2rem;
                    border-radius: 1rem;

                    .card-title{
                        font-family: $titlesFont;
                        font-size: 2rem;
                        margin: 0;
                        color: $titlesInside;
                        @include tablets{
                            font-size: 3rem;
                        }
                    }

                    .tech-container{

                        display: flex;
                        justify-content: center;

                        .tech{
                            padding-top: 5px;
                            padding-bottom: 5px;
                            border-radius: 8px;
                            cursor:default;
                            background: $primaryColor;
                            -webkit-backdrop-filter: blur(60px);
                            backdrop-filter: blur(60px);
                            border: 1.5px solid $primaryColor;
                            transition: all 0.25s ease;
    
                            &:hover{
                                transform: scale(1.07);
                            }
    
                            >img{
                                width: 30px;
                            }
                            >p{
                                font-family: $textFont;
                                margin: 0 .8rem 0 0;
                                color: $titlesColor;
                                @include tablets{
                                    font-size: 1.5rem;
                                }
                        }
                    }
                    }

                    .card-text{
                        font-family: $textFont;
                        margin: 2rem;
                        color: $otherTextColor;
                        @include tablets{
                            font-size: 1.5rem;
                        }
                    }
                    
                    .card-buttons{
                        display: inline-block;
                        background-color: $buttonColor;
                        padding: .75rem 1.2rem;
                        border-radius: 1rem;
                        text-decoration: none;
                        transition: all .25s ease;

                        &:hover{
                            transform: scale(1.15);
                        }

                        >img{
                            width: 25px;
                        }
                    }
                }
            }
        }
    }
    .exp{
        padding-bottom: 10rem;
        .container__exp{
            @include grid2();
            grid-template-rows: repeat(2,1fr);
            margin: 0 20rem;
            text-align: center;
            color:$secondaryColor;
            @include tablets{
                margin: 0 10rem;
            }
            @include celulares{
                margin: 0 auto;
                padding: 3rem;
            }

            .curse1,.curse2,.work1,.work2{
                margin-bottom: 2rem;
                >img{
                    width: 40px;
                    margin: 1rem;
                }
            }
            .curse1,.curse2{
                margin-right: 3rem;
            }
            .work1{
                grid-column: 2;
                grid-row: 1;
            }
            .container__CV{
                grid-column: 1/3;

                .linkCV{
                    padding: 1rem;
                    background-color: $buttonColor;
                    border-radius: 30px;
                    word-spacing: 0.4rem;
                    text-decoration: none;
                    font-family: $textFont;
                    color:$otherTextColor;
                    font-weight: 600;
                }
            }
            #puesto{
                font-family: $titlesFont;
                font-weight: 600;
                font-size: 1.5rem;
                margin: 0;
                @include tablets{
                    font-size: 2rem;
                }
                @include celulares{
                    font-size: 1.2rem;
                }
            }
            #lugar,#duracion{
                font-family: $textFont;
                margin-top: 1rem;
                font-weight: 500;
                @include tablets{
                    font-size: 1.3rem;
                }
            }

        }

    }
    .sk{
        padding-bottom: 10rem;

        .skills__titles{
            text-align: center;
            padding: 2rem 0 0 0;

            p{
                margin: 0;
                color: $textColor;
                font-family: $textFont;
                font-size: 1.5rem;
                font-weight: 600;
            }
        }

        .container__skills{
            margin:4.2rem;
            display: flex;
            align-items: center;

            .tech-skill{
                padding: 0;
                display: flex;
                justify-content: center;

                img{
                    width: 50%;
                }
            }

            .progress{

                .progress-bar{
                    background-color: $secondaryColor;
                }

                .avanzado{
                    width: 70%;
                }

                .intermedio{
                    width: 50%;
                }

                .novato{
                    width: 30%;
                }

                .aprendiz{
                    width: 10%;
                }
            }

            .tech-label{
                font-family: $textFont;
                font-size: 1.2rem;
                font-weight: 500;
            }

        }
    }
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-family: $textFont;
    font-weight: 600;
    font-size: 1.2rem;
    color: $secondaryColor;

    >p{
        padding: 1.5rem;
    }
}